USE [JGBS_Dev]
GO

ALTER TABLE [tblVendors]
ADD DeliveryFee decimal(18,4), 
StockingReturnFee decimal(18,4), 
MiscFee decimal(18,4), 
DeliveryMethod nvarchar(max), 
FreightTerms  nvarchar(max), 
Tax  decimal(18,4), 
VendorQuote  nvarchar(max), 
AttachVendorQuote nvarchar(max), 
Revision  nvarchar(max), 
VendorInvoice nvarchar(max), 
JGCustomerPO  nvarchar(max), 
LeadTimeDueDate datetime, 
EconimicalOrderQuantity int, 
DiscountPerUnit  decimal(18,4), 
ReOrderPoint decimal(18,4), 
OrderQTY int,

GeneralPhone nvarchar(max),
HoursOfOperation nvarchar(max),
ContactPreferenceEmail bit,
ContactPreferenceCall bit,
ContactPreferenceText bit,
ContactPreferenceMail bit

GO

CREATE TABLE [dbo].[tblVendorProduct](
	[ID] [int] NOT NULL,
	[VendorID] [int] NOT NULL,
	[SKU_VendorStatus] [int] NULL,
	[JG_SKU_MODEL] [nvarchar](500) NULL,
	[TotalCost] [decimal](18, 4) NULL,
	[ItemDescription] [nvarchar](max) NULL,
	[JGDescription] [nvarchar](max) NULL,
	[VendorPart] [nvarchar](max) NULL,
	[VendorModel] [nvarchar](max) NULL,
	[UnitCost] [decimal](18, 4) NULL,
	[UOM] [nvarchar](50) NULL,
	[PostTitle] [nvarchar](max) NULL,
	[PostName] [nvarchar](max) NULL,
	[PostExcerpt] [nvarchar](max) NULL,
	[ShutterDescript] [nvarchar](max) NULL,
	[PostContent] [nvarchar](max) NULL,
	[PostStatus] [nvarchar](max) NULL,
	[PostDate] [datetime] NULL,
	[PostParent] [nvarchar](max) NULL,
	[PostAuthor] [nvarchar](max) NULL,
	[CommentStatus] [nvarchar](max) NULL,
	[Virtual] [nvarchar](max) NULL,
	[Visibility] [nvarchar](max) NULL,
	[StockStatus] [nvarchar](max) NULL,
	[Backorders] [nvarchar](max) NULL,
	[ManageStock] [nvarchar](max) NULL,
	[RegularPrice] [decimal](18, 4) NULL,
	[SalePrice] [decimal](18, 4) NULL,
	[Featured] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblVendorProduct] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- Modified By : Jaylem
-- Modified Date : 02-01-2017
-- =============================================
ALTER PROCEDURE [dbo].[UDP_SaveVendor]  
	@vendor_id int,  
	@vendor_name varchar(100) = NULL,  
	@vendor_category int = NULL,  
	@contact_person varchar(100) = NULL,  
	@contact_number varchar(20) = NULL,  
	@fax varchar(20) = NULL,  
	@email varchar(50) = NULL,  
	@address varchar(100) = NULL,  
	@notes varchar(500) = NULL,  
	@ManufacturerType varchar(70)  = NULL,  
	@BillingAddress varchar(MAX)  = NULL,  
	@TaxId varchar(50)  = NULL,  
	@ExpenseCategory varchar(50)  = NULL,  
	@AutoTruckInsurance varchar(50)  = NULL,  
	@VendorSubCategoryId int,  
	@VendorStatus nvarchar(50) = NULL,  
	@Website nvarchar(100) = NULL,  
	@ContactExten nvarchar(6) = NULL,
	@Vendrosource nvarchar(500)=null,
	@AddressID int=null,
	@PaymentTerms nvarchar(500)=null,
	@PaymentMethod nvarchar(500)=null,
	@TempID nvarchar(500)=null, 
	@NotesTempID nvarchar(250)=null ,
	@VendorCategories nvarchar(max)=null,
	@VendorSubCategories nvarchar(max)=null,
	@DeliveryFee decimal(18,4), 
	@StockingReturnFee decimal(18,4), 
	@MiscFee decimal(18,4), 
	@DeliveryMethod nvarchar(max), 
	@FreightTerms  nvarchar(max), 
	@Tax  decimal(18,4), 
	@VendorQuote  nvarchar(max), 
	@AttachVendorQuote nvarchar(max), 
	@Revision  nvarchar(max), 
	@VendorInvoice nvarchar(max), 
	@JGCustomerPO  nvarchar(max), 
	@LeadTimeDueDate datetime, 
	@EconimicalOrderQuantity int, 
	@DiscountPerUnit  decimal(18,4), 
	@ReOrderPoint decimal(18,4), 
	@OrderQTY int,
	@GeneralPhone nvarchar(max),
	@HoursOfOperation nvarchar(max),
	@ContactPreferenceEmail bit,
	@ContactPreferenceCall bit,
	@ContactPreferenceText bit,
	@ContactPreferenceMail bit,
	@UserID varchar(100)  = NULL
AS  
BEGIN

	IF EXISTS(SELECT 1 FROM tblVendors WHERE VendorId=@vendor_id)  
	BEGIN  
			UPDATE tblVendors  
			SET  
				VendorName = @vendor_name,  
				VendorCategoryId = @vendor_category,  
				ContactPerson = @contact_person,  
				ContactNumber = @contact_number,  
				Fax = @fax,  
				Email = @email,  
				[Address] = @address,  
				Notes = @notes,  
				ManufacturerType = @ManufacturerType,  
				BillingAddress = @BillingAddress,  
				TaxId = @TaxId,  
				ExpenseCategory = @ExpenseCategory,  
				AutoTruckInsurance = @AutoTruckInsurance,  
				VendorSubCategoryId = @VendorSubCategoryId,  
				VendorStatus = @VendorStatus,  
				Website = @Website,  
				ContactExten = @ContactExten,
				Vendrosource = @Vendrosource,
				AddressID = @AddressID,
				PaymentTerms = @PaymentTerms,
				PaymentMethod = @PaymentMethod,
				DeliveryFee = @DeliveryFee,
				StockingReturnFee = @StockingReturnFee,
				MiscFee = @MiscFee,
				DeliveryMethod = @DeliveryMethod,
				FreightTerms = @FreightTerms,
				Tax = @Tax,
				VendorQuote = @VendorQuote,
				AttachVendorQuote = @AttachVendorQuote,
				Revision = @Revision,
				VendorInvoice = @VendorInvoice,
				JGCustomerPO = @JGCustomerPO,
				LeadTimeDueDate = @LeadTimeDueDate,
				EconimicalOrderQuantity = @EconimicalOrderQuantity,
				DiscountPerUnit = @DiscountPerUnit,
				ReOrderPoint = @ReOrderPoint,
				OrderQTY = @OrderQTY,
				GeneralPhone = @GeneralPhone,
				HoursOfOperation = @HoursOfOperation,
				ContactPreferenceEmail = @ContactPreferenceEmail,
				ContactPreferenceCall = @ContactPreferenceCall,
				ContactPreferenceText = @ContactPreferenceText,
				ContactPreferenceMail = @ContactPreferenceMail
			WHERE VendorId = @vendor_id  
		
			IF @VendorCategories IS NOT NULL
			BEGIN
			
				DELETE FROM tbl_Vendor_VendorCat WHERE VendorId = @vendor_id
				INSERT INTO tbl_Vendor_VendorCat(VendorId,VendorCatId)
				SELECT @vendor_id,Item FROM dbo.SplitString(@VendorCategories, ',')

			END
		
			IF @VendorSubCategories IS NOT NULL
			Begin
			
				DELETE FROM tbl_Vendor_VendorSubCat WHERE VendorId = @vendor_id
				INSERT INTO tbl_Vendor_VendorSubCat(VendorId,VendorSubCatId)
				SELECT @vendor_id,Item FROM dbo.SplitString(@VendorSubCategories, ',')

			End
	END
	ELSE
	BEGIN		
			INSERT INTO tblVendors
			(
				VendorName,VendorCategoryId,ContactPerson,ContactNumber,Fax,Email,[Address],Notes,ManufacturerType,BillingAddress,
				TaxId,ExpenseCategory,AutoTruckInsurance,VendorSubCategoryId,VendorStatus,Website,ContactExten,Vendrosource,
				AddressID,PaymentTerms,PaymentMethod,DeliveryFee,StockingReturnFee,MiscFee,DeliveryMethod,FreightTerms,
				Tax,VendorQuote,AttachVendorQuote,Revision,VendorInvoice,JGCustomerPO,LeadTimeDueDate,EconimicalOrderQuantity,
				DiscountPerUnit,ReOrderPoint,OrderQTY,GeneralPhone,HoursOfOperation,ContactPreferenceEmail,ContactPreferenceCall,
				ContactPreferenceText,ContactPreferenceMail
			)   
			VALUES(
				@vendor_name,@vendor_category,@contact_person,@contact_number,@fax,@email,@address,@notes,@ManufacturerType,
				@BillingAddress,@TaxId,@ExpenseCategory,@AutoTruckInsurance,@VendorSubCategoryId,@VendorStatus,@Website,
				@ContactExten,@Vendrosource,@AddressID,@PaymentTerms,@PaymentMethod,@DeliveryFee,@StockingReturnFee,
				@MiscFee,@DeliveryMethod,@FreightTerms,@Tax,@VendorQuote,@AttachVendorQuote,@Revision,@VendorInvoice,
				@JGCustomerPO,@LeadTimeDueDate,@EconimicalOrderQuantity,@DiscountPerUnit,@ReOrderPoint,@OrderQTY,
				@GeneralPhone,@HoursOfOperation,@ContactPreferenceEmail,@ContactPreferenceCall,@ContactPreferenceText,@ContactPreferenceMail
			) 
		
			SELECT @vendor_id = SCOPE_IDENTITY()

			UPDATE tblVendorEmail SET VendorID=@vendor_id WHERE TempID=@TempID
		
			UPDATE tblVendorAddress SET	VendorId=@vendor_id	WHERE TempID=@TempID

			INSERT INTO tbl_VendorNotes (userid,Notes,CreatedOn,VendorId)
			VALUES(@UserID,@notes,GETDATE(),@vendor_id)

			IF @VendorCategories IS NOT NULL
			BEGIN
				IF @VendorCategories IS NOT NULL
				BEGIN
				
					INSERT INTO tbl_Vendor_VendorCat(VendorId,VendorCatId)
					SELECT @vendor_id,Item 
					FROM dbo.SplitString(@VendorCategories, ',')

				END
			END
		
			IF @VendorSubCategories IS NOT NULL
			BEGIN		
				IF @VendorSubCategories IS NOT NULL
				BEGIN
				
					INSERT INTO tbl_Vendor_VendorSubCat(VendorId,VendorSubCatId)
					SELECT @vendor_id,Item 
					FROM dbo.SplitString(@VendorSubCategories, ',')	

				END
			END		

	END
END