<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add connectionString="Server=35.197.90.163;Database=JGBS_Dev_New;User ID=devloperuser;Password=JG%987" name="JGPA" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="VendorCategoryUserName" value="59e326498e104ab5aa3718a5ef7a1d1" />
    <add key="VendorUserName" value="purchasing@jmgroveconstruction.com" />
    <add key="VendorCategoryPassword" value="4e21af4212a7dc0404b9844d762a565a" />
    <add key="VendorPassword" value="Bquality1" />
    <add key="smtpHost" value="smtp.gmail.com"></add>
    <add key="smtpPort" value="587" />
    <add key="smtpUName" value="smjgrovetp@gmail.com" />
    <add key="smtpPwd" value="4$JG%*0K" />
    <add key="defaultEmailFrom" value="hr@jmgrovebuildingsupply.com" />
    <add key="defaultFromName" value="JGrove Construction" />
    <add key="defaultEmailCC" value="kerconsultancy@hotmail.com" />
    <add key="defaultCCName" value="KER Consultancy" />
    <add key="defaultEmailBCC" value="yogesh.keraliya@gmail.com" />
    <add key="defaultBCCName" value="Yogesh Keraliya" />
    <add key="enableSSL" value="true" />
    <add key="ApplicationEnvironment" value="1" />
    <add key="AdminUserId" value="jgrove@jmgroveconstruction.com" />
    <add key="DefaultBCCEmail" value="jgrove.georgegrove@gmail.com" />
    <add key="AllowEmailSendingExceptionEmail" value="1" />
  </appSettings>
</configuration>